* {
    margin: 3px;
    padding: 3px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans";
}
/*componentes generales*/
a{
    color: darkblue;
    padding: 5px;
    font-size: 13px;
    font-weight: 700;

}
.h2,h1,h3,h4{
    display: flex;
    text-align: center;
}
h1{text-align: center}
p{
    line-height: 27px;
    text-align: justify;
}
.display-flex {
    display: flex;
}
.justify-content-space-between{
    justify-content: space-between;
}
/*componentes nav*/
nav{
    background-color: dimgrey;
}
.logo{
    font-weight: 700;
    font-size: 1.5rem;
    padding: 14px 0px;
}
/*componentes card*/
.card{
    border: solid 1px darkgrey;
    width: 30%;
    border-radius: 5px;
    align-items: center;
    grid-template-columns: repeat(2, 2fr);
    text-align: center;
}
.card-parrafo{
    color: #1a1818;
}
.button {
    line-height: 5px;
    background-color: darkblue;
    color: darkgrey;
    border: 1px solid white;
    border-radius: 1px;
    justify-content: space-between;
}
/*heder*/
.menu{
justify-content: space-between;
    background-color: darkgrey;
    display: flex;
    font-weight: 500;

}
